body {
height: 100vh;
overflow: scroll;
}

.instagram-feed-wrapper h1 {
    text-align: center;
    margin-bottom: 20px;
        margin-top: 3em;
        font-size: 2em;
}

#instagram-feed {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 images per row by default (desktop) */
    gap: 15px;
    padding: 0;
  margin-top: 2em;
  margin-bottom: 4em;
}
.instagram-feed-wrapper h1 a {
    color: #000;
    text-decoration: none;
  }
.instagram-feed-wrapper h1 a span:hover, .instagram-feed-wrapper h1 a span:nth-of-type(1) {
 background: linear-gradient(red, blue);
  -webkit-background-clip: text;
  color: transparent;
}
      .instagram-feed-wrapper .icon {
    color: white;
    font-size: 80px; /* Adjust size as needed */
  height: auto;
  width: auto;
      }
/* Tablet view - 2 images per row */
@media (max-width: 768px) {
    #instagram-feed {
        grid-template-columns: repeat(2, 1fr);
      margin-top: 0em;
    }
  .instagram-feed-wrapper h1 a span {
   color: #000; 
  }
  .instagram-feed-wrapper .icon {
    color: white;
    font-size: 60px; /* Adjust size as needed */
  height: auto;
  width: auto;
      }
}

/* Mobile view - 1 image per row */
@media (max-width: 480px) {
    #instagram-feed {
        grid-template-columns: repeat(2, 1fr);
      margin-top: 0em;
    }
  .instagram-feed-wrapper h1 {
    text-align: left;
    font-size: 1.2em;
    padding: 0 20px;
  }
  .instagram-feed-wrapper .icon {
    color: white;
    font-size: 40px; /* Adjust size as needed */
  height: auto;
  width: auto;
      }
    .feed-item img {
    width: 100%;
    border-radius: 15px;
    display: block;
    height: 11em;
}
    .footer__content {
    padding: 0 1rem;
    padding-bottom: 2em !important;
}
}

.feed-item {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.feed-item:hover {
    transform: scale(1.05);
}

.feed-item img {
    width: 100%;
    border-radius: 15px;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 15px;
}

.feed-item:hover .overlay {
    opacity: 1;
}

a.text-link.small {
    background: #000;
    color: #fff;
    padding: .5em 1em;
    height: 2.7em;
    display: inline-flex;
    width: auto;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    gap: .6em;
}




/* Unsure */
.product-grid--slider.product-grid--slider-alt:not(.flickity-enabled) {
    display: grid;
    grid-template-columns: var(--grid) !important;
    grid-column-gap: var(--gap);
    justify-content: center;
    padding-right: var(--gap);
}
@media (max-width: 48em) {
.product-grid-outer div#product-recommendations {
    display: flex;
    flex-wrap: wrap;
    gap: 6%;
    padding: 0;
    max-width: 100%;
    margin: 0;
}
    .product-grid-outer .product-item.large-up--one-quarter.medium--one-quarter.small--one-whole.product-item--borderless.product-item--centered.product-item--outer-text.product-item--related- {
    margin: 0;
    flex: 47%;
}


    /* Button sticky */
    button.zrx-sticky-atc-main-button {
    width: 100%;
    min-width: 100%;
}
    .zrx-sticky-atc-product-actions {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}
    .zrx-sticky-atc-product-actions-wrapper {
    width: 50% !important;
        }
    section#Collection--template--22971624358209__section_collection_NJPgc6 {
    position: relative;
    top: -8em !important;
    margin-bottom: -6em;
}
.product-item__title {
    font-size: .8em !important;
}
.product-item__price {
    font-size: .55em !important;
}
    }


/* Continuous style */
.checkbox label:before {
    border-radius: 50%;
    }
a.text-link.small:before {
    content: '\2794';
    font-size: 1.1em;
    font-weight: 100 !important;
    transform: rotate(
180deg) translateY(-2px);
}
.custom-dropdown .selected, .custom-form__block textarea {
    border: 0.1px solid #999;
    }


 .customer-register input {
    margin: 0;
} 
a.text-link.small {
    align-self: start;
    justify-self: flex-start;
}
/* footer */
img.svg-img {
    background: #fff;
    border-radius: 2px;
    overflow: hidden;
    width: 50px;
}
img.svg-img.paytm {
    padding: 6px;
    display: block;
}
.custom-form__block input {
    border: 0.1px solid #999 !important;
    border-radius: 9999px;
    padding: 9px 16px !important;
    font-size: 16px !important;
    color: #000 !important;
}
textarea#Form-template--22971624456513__contact-3, .custom-form__block textarea {
    font-size: 16px;
}


/*.product-item__image.double__image::after {
    content: 'SALE';
    background: #fff;
    display: block;
    position: absolute;
    bottom: 1em;
    left: 1em;
    border-radius: 9999px;
    padding: .5em 2em;
    font-size: .7em;
    position: absolute;
    z-index: 1000;
}*/

/* Sales badge */
@media (min-width: 814px) and (max-width: 1526px) {
.sale-box {
    top: 85%;
    left: 5%;
}
    }
.custom-form__block input::placeholder, .custom-form__block textarea::placeholder {
    color: transparent !important;
    background: linear-gradient(
45deg, #eee, #ddd) !important;
    -webkit-background-clip: text !important;
}
#customer_login input::placeholder, .form-field input::placeholder {
    color: #333;
}

/* INPUT End */

a.standard__cta.btn.btn--solid.btn--primary.hero__btn {
    width: 100%;
}
div#selected-option {
    border-radius: 9999px !important;
}


/* Same size buttons */
.account .forgot-password {
    display: flex;
    width: 100%;
    padding: 20px 0;
    justify-content: space-between;
    align-items: inherit !important;
    flex-direction: column;
}
button.btn.btn--primary.btn--solid {
    width: 100%;
}
button.btn.btn--primary.btn--solid {
    width: 100%;
    height: 3.5em;
}
.search-submit {
    height: auto !important;
    width: auto !important;
    }
.custom-grid .product-information .product-item__price .price.sale .old-price {
    opacity: 1;
    font-size: 1em !important;
    display: inline-block !important;
}
.cart-drawer__empty__inner .custom-section:nth-child(1) {
    display: none !important;
}

/* VIDEO BANNER */
.video-overlay a.btn:last-child {
    width: 13em;
}
.video-overlay a.btn:last-child:after {
    content: ' US';
    margin-left: .3em;
}


nav.collection__nav.collection__nav--filter, #filter-groups {
    display: flex !important;
}
.selected {
    text-transform: capitalize !important;
    }
.popout--sort {
    display: none !important;
}
.price.sale span.old-price {
    display: inline-block !important;
}


/* SPACING */
.main-content {
    min-height: auto !important;
    }
.custom-footer {
    margin-top: 2em;
}
section#ContactForm--template--22971624456513__contact {
    padding-bottom: 0;
}

/* SPACING END */
@media (max-width: 48em) {
    img.svg-img {
    background: #fff;
    border-radius: 2px;
    overflow: hidden;
    width: 44px;
}
   /* .product-item__image.double__image::after {
    content: 'SALE';
    background: #fff;
    display: block;
    position: absolute;
    bottom: 1em;
    left: 1em;
    border-radius: 9999px;
    padding: .5em 1em;
    font-size: .5em;
    position: absolute;
    z-index: 1000;
}*/
    .custom-form__block button.btn.btn--primary.btn--solid.btn--full {
    height: 2.5em;
}
    span.sale-box.aos-animate {
    transform: translateZ(0) scale(0.7) !important;
    left: 0;
    top: 80% !important;
}
    .search-page span.sale-box.aos-animate {
    transform: translateZ(0) scale(0.9) !important;
    left: .5em;
    top: 80% !important;
}
    }

@media (min-width: 1200px) { /* Adjust the min-width as needed */
    .cart-drawer span.sale-box.aos-animate {
        top: 85%;
    }
}
label.cart-toggle-label {
    color: #fff;
    background: #f20;
    padding: 1em;
}
.filter__price__fields {
    display: none !important;
}
input#recover-email {
    color: #222;
    border: 1px solid #222 !important;
}

 /* Desktop view (Log: 2025 April 20) */
 @media screen and (min-width: 1024px) {
    .testimonial__list-wrapper {
      width: 100%;
    }
      .video-slider-item {
      flex: 1 !important;
      }
      #shopify-section-template--22971624358209__video_slider_9xHBiB .media-wrapper
      {
        border: none !important;
        box-shadow: none !important;
      }
  }

  span.zrx-sticky-atc-product-title-price-wrapper {
    text-align: center;
    width: 100%;
}

  /* minimal.css shopify theme */
  /* media query for small tablet */

  @media only screen and (min-width: 600px) and (max-width: 800px) {
    .zrx-sticky-atc-bar.zrx-sticky-atc-mobile-desktop-view.zrx-sticky-atc-bar-bottom.zrx-sticky-atc-bar-spread.zrx-mobile-minimal-mode.zrx-sticky-atc-show {
        width: 80%;
        position: fixed;
        left: 10%;
    }
    button.zrx-sticky-atc-main-button {
        min-width: 100%;
    }
    div#product-recommendations .sale-box {
        transform: scale(0.9);
        top: 80%;
    }
    .zrx-mobile.zrx-mobile-minimal-mode .zrx-sticky-atc-product-container {
        display: flex
;
        margin: 0 !important;
    }
    .zrx-sticky-atc-product-actions-wrapper {
        display: flex
    ;
        flex-direction: row;
        width: 100% !important;
    }
    span.zrx-sticky-atc-product-form {
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

/* media query for large tablet and small desktop */

@media (min-width: 1025px) {
    .zrx-sticky-atc-bar.zrx-sticky-atc-mobile-desktop-view.zrx-sticky-atc-bar-bottom.zrx-sticky-atc-bar-spread.zrx-mobile-minimal-mode.zrx-sticky-atc-show {
        width: 80%;
        position: fixed;
        left: 10%;
    }
    button.zrx-sticky-atc-main-button {
        min-width: 100%;
    }
    div#product-recommendations .sale-box {
        transform: scale(0.9);
        top: 80%;
    }
    .zrx-mobile.zrx-mobile-minimal-mode .zrx-sticky-atc-product-container {
        display: flex
;
        margin: 0 !important;
    }
    .zrx-sticky-atc-product-actions-wrapper {
        display: flex
    ;
        flex-direction: row;
        width: 100% !important;
    }
    span.zrx-sticky-atc-product-form {
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}
 
/* large screen desktop only media query */
@media (min-width: 1004px) {
    .zrx-sticky-atc-bar.zrx-sticky-atc-mobile-desktop-view.zrx-sticky-atc-bar-bottom.zrx-sticky-atc-bar-spread.zrx-mobile-minimal-mode.zrx-sticky-atc-show {
        width: 60%;
        position: fixed;
        left: 20%;
    }
    button.zrx-sticky-atc-main-button {
        min-width: 100%;
    }
   
    .zrx-mobile.zrx-mobile-minimal-mode .zrx-sticky-atc-product-container {
        display: flex;
        margin: 0 !important;
    }
    span.zrx-sticky-atc-product-form {
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .zrx-sticky-atc-product-actions-wrapper {
        display: flex
    ;
        flex-direction: row;
        width: 100% !important;
    }
}


form[action="/account/reset"] input[type="password"] {
    border: 1px solid #222;
}

/* lourd cart */
 .lourd-cart {
    height: 100%;
    width: 100%;
    position: fixed;
    right: -100%;
    top: 0;
    overflow: scroll !important;
    background: #f0f0f0;
    max-width: 400px;
    z-index: 9999;
   transition: .4s;
   opacity: 0;
}
  label[for="displayCart"] {
    display: flex
;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.2em !important;
}
#displayCart:checked ~ .lourd-cart {
    right: 0;
    opacity: 1;
}
  .cart__item {
    background: #fff !important;
    border-radius: .5em !important;
}
  .cart-drawer__close {
    display: none !important
  }
  .cart-drawer__head label[for="displayCart"] {
    display: inline-block;
}
  .cart-drawer__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .lourd-cart .cart-drawer__foot {
    width: 95%;
    margin-top: auto;
    margin: 0 2.5%;
}

.cart-drawer__empty__inner .grid-container {
    overflow: scroll;
}
.lazy-image {
    width: 100% !important;
}
.lourd-cart .cart__item__image .lazy-image img {
width: 90% !important;
}
.lourd-cart .lazy-image img {
        border-radius: 14%;
    overflow: hidden !important;
    border: 2px solid #eee !important;
}
.lourd-cart .cart-drawer__items .cart__item__image a {
    width: 100% !important;
}
.lourd-cart .cart__item__image .lazy-image {
    border: none;
    overflow: auto !important;
}
.lourd-cart .custom-section * {
    background: #f0f0f0 !important;
    /* color: red !important; */
}
section#Collection--template--22971623833921__section_collection_fd9ith {
    background: #f0f0f0 !important;
}
.cart__item {
margin-bottom: .5em;
}
.cart__foot__inner {
    margin-bottom: 5em;
}
.is-hidden {
display: none;
}
.cart__button {
    position: sticky;
    bottom: 1em;
    width: 100%;
    background: #fff;
}



/* new */
.video-overlay {
top: 0 !important;
}
.video-banner video {
    width: 100%;
     height: auto !important;
}
.video-overlay a.btn {
background: transparent !important;
}
.cart__item {
    height: 10.5em;
}
.cart-drawer__items {
    height: 12em;
overflow: scroll;
}
.cart-drawer__body {
    margin-bottom: 2em !important;
}

@media (max-width: 768px) {
    .video-banner {
        height: 80vh !important;
        margin-top: -100px;
    }
}
@media only screen and (max-width: 479px) {
    .video-banner .video-overlay {
        align-items: flex-end !important;
        padding-bottom: 0em !important;
    }
}

@media (min-width: 1024px) {
  .video-banner video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 52px !important;
  }
}
@media (max-width: 768px) {
    .video-banner video {
        object-fit: contain;
        top: 94px !important;
        height: auto;
    }
}